/* 
  color: rgba(2, 51, 114, 1);
  color: rgba(242, 182, 4, 1);
  color: rgba(242, 159, 4, 1);
  color: rgba(242, 115, 4, 1);
  color: rgba(191, 53, 3, 1); */

html {
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  color: #d500f9;
}
img {
  max-width: 100%;
}

a:hover {
  opacity: 0.8;
}

a:active {
  color: red;
}

.title {
  text-transform: uppercase;
}

.container {
  background: #36d1dc;
  background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
  background: linear-gradient(to right, #5b86e5, #36d1dc);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 960px;
  max-height: 500px;
  width: 100%;
  height: 80vh;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  position: relative;

  overflow: scroll;
}

.content {
  padding: 1em;
}
td {
  display: block;
  width: 100%;
}
td:nth-of-type(1) {
  font-size: 1.5em;
  font-weight: bold;
  color: #642b73;
}
th {
  display: none;
}

.actions {
  position: absolute;
  top: 1em;
  right: 1em;
}

.close {
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  background-color: #642b73;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph {
  line-height: 1.8em;
  font-weight: 200;
}

.fa-star {
  color: #ffc400;
}

.table {
  width: 100%;
  border-spacing: 0;
}

.table td,
.table th {
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even) {
  background: #f3e5f5;
}

.title-item {
  /* border-bottom-style: solid;
  border-width: 2px;
  border-color: #c6486e; */
  font-size: 2em;
  border-bottom: solid 2px #c6486e;
  padding-bottom: 1em;
}

.address {
  font-weight: bold;
  color: #642b73;
  font-size: 1.2em;
  margin-top: 2em;
  display: inline-block;
}

.main-image {
  float: left;
  margin-right: 1em;
  height: 250px;
}

.position {
  background-color: #c6426e;
  color: white;
  padding: 0.7em;
  border-radius: 4px;
  margin-right: 0.5em;
}
@media (min-width: 900px) {
  th {
    display: table-cell;
  }
  td {
    width: auto;
    display: table-cell;
  }
  td:nth-of-type(1) {
    font-size: 1em;
  }
  .content {
    padding: 1.8em;
  }
}

@media (min-height: 550px) {
  .content {
    height: 500px;
  }
}
